body
{
	background-color:#343a40;
}

video
{
	width: 100vw;
}

.flow_of_work
{
	background-color: hsl(236, 31%, 20%);
	color: hsl(255, 100%, 100%);
}

/* medium screen */
@media (min-width: 768px) {
	.container {
		max-width:95vw !important;
	}
}