:root
{
	--main-background-color:#343a40;
	--content-bg-col:hsl(236, 31%, 20%);
	--subcontent-bg-col:hsl(236, 57%, 16%);
	--table_comparison_odd:hsl(235,16%,27%);
	--table_comparison_even:hsl(235,24%,29%);
	--comp_headings:#ef5350;
	--bold_text_highlight: #39ff14;
}

body
{
	background-color:var(--main-background-color);
}

video
{
	width: 100vw;
}

/* medium screen */
@media (min-width: 768px) {
	.container {
		max-width:95vw !important;
	}
}

h1
{
	text-align:center;
	color:red;
}

.flow_of_work
{
	background-color: var(--content-bg-col);
	color: white;
}


.below_headings
{
	background-color:var(--subcontent-bg-col);
	margin:0.1rem;
}

#flow_word, #flow_img, .white_border
{
	padding-top:0.5rem;
	padding-bottom:0.5rem;
	border:0.1rem solid white;
}

.white_text
{
	color: white;
}

.table_comp > div:nth-child(odd)
{
	background-color: var(--table_comparison_odd);
}

.table_comp > div:nth-child(even)
{
	background-color: var(--table_comparison_even);
}

b
{
	color:var(--bold_text_highlight);
}
/* sketch image to be full inside its parent container */
.img_comp
{
	width:100%;
	height:100%;
}

.comp_headings
{
	text-align:center;
	color:var(--comp_headings);
	font-size:20px;
}